.row
  .col.m12.l6.offset-l3
    .card.brown_color.z-depth-2
      .card-content.white-text
        %h4.center Enter Seat & Contact Details
        .seat_form
          .row
            .input-field.col.s12
              %input#seat_block.validate{type: "text"}
              %label{for: "seat_block"} Block
            .input-field.col.s12
              %input#seat_row.validate{type: "text"}
              %label{for: "seat_row"} Row
          .row
            .input-field.col.s6
              %input#seat_column_1.validate{type: "text"}
              %label{for: "seat_column_1"} First Seat
            .input-field.col.s6
              %input#seat_column_2.validate{type: "text"}
              %label{for: "seat_column_2"} Last Seat
        .seat_form_2
          .row
            .input-field.col.m12.l6
              %input#first_name.validate{type: "text"}
              %label{for: "seat_block"} First Name
            .input-field.col.m12.l6
              %input#last_name.validate{type: "text"}
              %label{for: "seat_row"} Last Name
          .row
            .input-field.col.s12
              %input#email.validate{type: "email"}
              %label{for: "seat_column_1"} Email
            .input-field.col.s12
              %input#contactno.validate{type: "tel"}
              %label{for: "seat_column_2"} Contact No.
        .spacer
        .row
          .center
            .btn#validate.tooltipped{"data-delay" => "50", "data-position" => "bottom", "data-tooltip" => "Validate if Seats are available"}
              %i.material-icons event_seat
            .btn#save
              %i.material-icons keyboard_arrow_right

:coffeescript
  $(document).ready ->
  $("select").material_select()
  $(".seat_form_2").hide()
  secondform = false
  $("#save").click ->
    if secondform == false
      $(".seat_form").fadeOut "slow", "easeInOutQuad", ->
        $(".seat_form_2").fadeIn "slow", "easeInOutQuad"
        $("#save .material-icons").replaceWith "<i class=\"material-icons\">done</i>"
        secondform = true
        return
    else
      $.ajax
        type: "PATCH"
        url: "#{seats_path}"
        data:
          block: $("#seat_block").val()
          row: $("#seat_row").val()
          first_seat: $("#seat_column_1").val()
          last_seat: $("#seat_column_2").val()
          first_name: $("#first_name").val()
          last_name: $("#last_name").val()
          email: $("#email").val()
          contact: $("#contactno").val()
        dataType: "script"
    return
  $("#validate").click ->
    $.ajax
      type: "GET"
      url: "#{seats_validate_path}"
      data:
        block: $("#seat_block").val()
        row: $("#seat_row").val()
        first_seat: $("#seat_column_1").val()
        last_seat: $("#seat_column_2").val()
      dataType: "script"
  return
