if ("<%= escape_javascript(@booked_seats) %>" == ""){
  alert("All the selected seats are Available")
}else{
  alert("The following seats are not available : <%= escape_javascript(@booked_seats) %>")
}
