/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery.seat-charts
 *= require material_icons 
 */


@import "materialize";
.menu_red {
  background-color: #EF565F;
}
.brown_color {
  background-color: #4F464B;
}
.teal_color {
  background-color: #4ECDC4;
}
.spacer {
  margin-top: 1em;
}
.row {
  margin-bottom: 5px !important;
}
.input-field label {
  color: #4ECDC4;
}
/* label focus color */
.input-field input[type=text]:focus + label {
  color: #4ECDC4;
}
/* label underline focus color */
.input-field input[type=text]:focus {
  border-bottom: 1px solid #4ECDC4;
  box-shadow: 0 1px 0 0 #4ECDC4;
}
/* valid color */
.input-field input[type=text].valid {
  border-bottom: 1px solid #4ECDC4;
  box-shadow: 0 1px 0 0 #4ECDC4;
}
/* invalid color */
.input-field input[type=text].invalid {
  border-bottom: 1px solid #EF565F;
  box-shadow: 0 1px 0 0 #EF565F;
}
