!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Booking System
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %nav.menu_red
      .container
        .nav-wrapper
          %a.brand-logo{href: root_path } Booking System
          %ul.right
            %li
              %a{href: root_path } Home
            %li
              %a{href: '#'} Login
            %li
              %a{href: seats_path} Book Seats

    .container
      .spacer
      = yield
